:root
{
    --white: #fff;
    --grey: #808080;
    --blue:  #482fec;
    --purple: #9f1ae2;
    --black: #000;
    --backgroud: #F8F9FA;

}

*
{
    margin: 0;
    padding: 0;
}
/*--------------Header------------------*/

body
{
    background-color: var(--background);
    font-family: 'Mulish', sans-serif;
    /*font-family: 'Newsreader', serif;*/
    /*font-family: 'Kanit', sans-serif;*/
}
main
{
    width: 100%;
    margin: auto;
}
.navegation
{
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--white);
    padding: 15px 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.11);
    z-index: 1;
    margin-bottom: auto;
}
.navegation, .items-navbar, .nav-bar
{
    display: flex;
    justify-content: space-around;
    align-items: center
}
.nav-bar
{
    justify-content: center;
    gap: 50px;
}
.navegation h1 
{
    font-size: 1.2rem;
    font-family: 'Kanit', sans-serif;
}
.navegation a
{
    text-decoration: none;
    color: var(--black);
}
.items-navbar li a
{
    font-size: 1.1rem;
    font-weight: 900;
    text-decoration: none;
    color: #000;
}
.items-navbar a:hover
{
    color: var(--blue);
}
.items-navbar li
{
    list-style: none;
    padding: 0 20px
}
/*.items-navbar li a:focus
{
    color: var(--blue);
}*/
.button-feedback
{
    cursor: pointer;
}
.button-feedback button
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background-color: var(--blue);
    padding: 10px 15px;
    border: none;
    color: var(--white);
    font-size: 1rem;
    font-family: 'Mulish', sans-serif;
}
.button-feedback button:hover
{
    background-color: var(--black);
}
.menu-reponsive i
{
    display: none;
    font-size: 3rem;
}
.active
{
    color: var(--blue) !important;
}
/*--------------Main - Inicio ------------------*/

.index
{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 25vh 0 15vh;
    width: 80%;
    margin: auto;
}

.text-index h1
{
    font-family: 'Newsreader', serif;
    font-weight: 900;
    font-size: 6rem;
}
.text-index p
{
    width: 95%;
    font-size: 1.5rem;
    padding: 30px 0;
    color: var(--grey);
}
.container-phone
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding:10px;
    width: 100%;
    height: 100%;
}
.container-phone video
{
    position: absolute;
    max-width: 200px;
    z-index: -1;
    max-height: 390px;
    border-radius: 30px;
}
.container-phone .phone
{
    position: absolute;
    max-width: 200px;
    max-height: 500px;
}
.circule
{
    position: absolute;
    width: 300px;
    z-index: -2;
}
.details
{
    position: relative;
    width: 50vh;
    height: 25vw;
}
.small-circle, .small-x
{
    position: absolute;
    max-width: 15px;
}
.small-circle
{
  top: 0;
  right: 0;
}
.small-x
{
    bottom: 0;
    left: 0;
}


/*--------------Main - Notas-----------------*/
.notas
{   
    background: url(https://cdn.pixabay.com/photo/2015/10/02/15/07/diary-968603_960_720.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-notas
{
    width: 80%;
    margin: auto;
}
.notas h1
{
    width: 80%;
    font-family: 'Newsreader', serif;
    font-size: 6rem;
    padding-bottom: 30px;
    color: var(--white);
}
.notas button
{
    padding: 20px;
    border-radius: 50px;
    background: none;
    border: 2px solid var(--white);
}
.notas a
{
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Mulish', sans-serif;
}

/*--------------Main - Aprender-----------------*/

.aprender
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 15vh 0;
}

.container-mobile
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding:10px;
    width: 100%;
    height: 100%;
}
.container-mobile video
{
    position: absolute;
    max-width: 200px;
    z-index: -1;
    max-height: 390px;
    border-radius: 30px;
}
.container-mobile .phone
{
    position: absolute;
    max-width: 200px;
    max-height: 500px;
}
.circule-left
{
    position: absolute;
    right: 35%;
    width: 250px;
    z-index: -2;
    transform: rotate(45deg);
}
.details-reverse
{
    position: relative;
    width: 50vh;
    height: 25vw;
}

.circule-small, .x-small
{
    position: absolute;
    max-width: 15px;
}
.circule-small
{
    bottom: 0;
    left: 0;
}
.x-small
{
    top: 0;
    right: 0; 
    transform: rotate(90deg);
}
.categories-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    padding: 20px;
    text-align: center;
}
.category
{
    padding: 0 50px;
}
.categories-grid i
{
    font-size: 4rem;
    background: linear-gradient(var(--blue), var(--purple));
    -webkit-background-clip: text; /*Provicional....*/
    -webkit-text-fill-color: transparent;
}

.categories-grid h2
{
    font-size: 1.8rem;
    font-family: 'Kanit', sans-serif;
}

.categories-grid p
{
    color: var(--grey);
    font-size: 1rem;
}

/*--------------Footer------------------*/
footer
{
    background-color: var(--black);
    width: 100%;
    height: 100%;
    padding: 30px 0;
}
footer p, footer li, footer a
{
    font-size: 1rem;
    text-decoration: none;
    color: var(--grey);
}
footer ul, footer li, footer p
{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 5px;
}
footer li a:hover{
    color: var(--purple);
}


/*--------------Responsive-----------------*/

@media(max-width:1180px) {
    .nav-bar
    {
        display: none;
    }
    .menu-reponsive i
    {
        display: flex;
    }
    .index
    {
        margin-top: 0;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 80px;
    
    }
    .container-phone
    {
        padding-bottom: 10vh;
    }

    .aprender
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 80px;
    }

    .container-mobile
    {
        padding-top: 10vh;
    }

    .text-index h1, .notas h1
    {
        font-size: 4rem;
    }
    
    .category h2
    {
        font-size: 1.5rem;
    }
}
@media (max-width:768px){

    .nav-bar
    {
        display: none;
    }
    
    .index
    {
        gap: 180px;
    }
    .text-index p
    {
        font-size: 1.2rem;
    }
    .container-phone
    {
        padding-bottom: 20vh;
    }
    .aprender
    {
        gap: 200px;
    }

    .container-mobile
    {
        padding-top: 20vh;
    }

    .text-index h1, .notas h1
    {
        font-size: 3.5rem;
    }

    .categories-grid
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 50px;
    }
    
    .category h2
    {
        font-size: 1.5rem;
    }
}

@media(max-width:540px){
    
    .text-index p
    {
        font-size: 1rem;
    }
    .notas button
    {
        padding: 10px 5px;
        font-size: 0.7rem;
    }
    .index
    {
        gap: 30px;
        padding: 15vh 0 10vh;
    }
    .aprender
    {
        gap: 30px;
        padding: 10vh 0;
    }
    .container-phone
    {
        padding-bottom: 0;
    }
    .container-mobile
    {
        padding-top: 0;
    }
    .container-phone video, .container-mobile video
    {
        max-width: 100px;
        max-height: 190px;
        border-radius: 0;
    }
    .container-phone .phone, .container-mobile .phone
    {
        max-width: 100px;
        max-height: 400px;
    }
    .circule
    {
        width: 150px;
    }
    .circule-left
    {
        width: 120px;
        right: 40%;
    }
    .details
    {
        width: 30vh;
        height: 30vw;
    }
    .details-reverse
    {
        width: 25vh;
        height: 35vw;
    }
    .small-circle, .small-x, .circule-small, .x-small
    {
        max-width: 10px;
    }
    .text-index h1, .notas h1
    {
        font-size: 2.2rem;
    }
    .category
    {
        padding: 0 50px;
    }
    .category h2
    {
        font-size: 1.2rem;
    }
    .notas
    {   
        min-height: 70vh;
    }
    footer
    {
        font-size: 1rem;
    }
    footer ul
    {
        display: block;
    }
}

@media (max-width:300px) {
 
    .text-index h1, .notas h1
    {
        font-size: 2rem;
    }
    .category h2, .navegation h1
    {
        font-size: 1rem;
    }

    footer, .category p, .text-index p, .notas button
    {
        font-size: 0.8rem;
    }
}